/*
* Gcerevision Template

*/
/* ------------------------------------- */
/* TABLE OF CONTENTS
/* -------------------------------------
  1. IMPORT GOOGLE FONTS
  2. GENERAL
    -2.1 SECTION TITLE
    -2.2 BUTTONS
    -2.3 SOCIAL ICON
    -2.4 PRE LOADER
    -2.5 SCROLL TO UP
  3. NAVBAR
  4. INTRO SECTION
  4. HERO SECTION
  5. RESTAURANT SECTION
  6. DELIVERY SECTION
  7. FOOTER SECTION
  ------------------------------------- */
/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
}

.background-one {
  color: #fff;
  background-color: #70c9ed;
}

.background-one:hover {
  color: #000;
}

.background-one:hover h3 {
  color: #000 !important;
}

.background-two {
  color: #fff;
  background-color: #fe7b51;
}
.background-two:hover {
  color: #000;
  background-color: #fe7b51;
}
.background-two:hover h3 {
  color: #000 !important;
}
.background-three {
  color: #fff;
  background-color: #8cc7a6;
}
.background-three:hover h3 {
  color: #000 !important;
}

.background-three:hover {
  color: #000;
  background-color: #fff;
}
.background-four {
  color: #fff;
  background-color: #c43559;
}
.background-four:hover {
  color: #000;
  background-color: #c43559;
}
.background-four:hover h3 {
  color: #000 !important;
}

.background-five {
  color: #fff;
  background-color: #f4da22;
}
.background-five:hover {
  color: #000;
  background-color: #fff;
}

.background-five:hover h3 {
  color: #000 !important;
}

.color-is-white {
  color: #fff;
}

.color-is-primary {
  color: #70c9ed;
}

.color-is-black {
  color: #000 !important;
}

.button-border {
  border-radius: 5px;
}
.color-is-test {
  background-color: #fe7b51;

  color: #fff;
}
.uk-overlay-primary-second {
  background-color: #70c9ed;
  opacity: 0.4;
}

/* ==========================================================================
        1. Header
        ========================================================================== */

.bg-header-color {
  background-color: #fff !important;
  color: #fff;
}

.uk-navbar-nav > li > a {
  color: #000;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: all;
  transition-property: color, background-color;
  font-size: 16px;
}

.uk-countdown-number {
  font-size: 1rem;
}

.uk-countdown-separator {
  font-size: 1rem;
}

.section-cat h3 {
  color: #fff !important;
}
.section-cat h3 {
  color: #fff !important;
}
.background-color-white {
  background-color: #fff !important;
}
